@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import "tailwindcss";

:root {
  --background: #fff1f2;
  --foreground: #383531;
  --primiary: #ff4561;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primiary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-dancing {
  font-family: "Dancing Script", cursive;
}

button{
  cursor: pointer;
}

::-webkit-scrollbar{
  display: none;
}